
.logo{
  font-family: $logo-font-family;
  font-size: $logo-nav-font-size;
  color: $logo-color !important;
  text-align: center;
}
.main{
  font-size: $logo-big-font-size;
}

#login_panel{
  & > a,h1,h2,h3,h4,h5,h6{
    display: block;
    white-space: nowrap;
    text-align: center;
  }
}

$post-border: 1px solid rgba(0, 0, 0, 0.125);
.post-container{
  width:100%;
  min-width: 340px;
}
.post-header{
  display: table;
  white-space: nowrap;
  background-color: $nav-bg;
  color: $logo-color;
  font-family: $logo-font-family;
  height: 2em;
}
.post-title{
  display:table-cell;
  vertical-align: middle;
  font-size: 1.5em;
  padding-left: 10px;
}
.post-controls{
  display:table-cell;
  width: 4em;
  text-align: center;
  vertical-align: middle;
  .post-btn{
    float: right;
  }
}
.post-btn{
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  color: $logo-color;
  border: 0;
  padding:0;
  margin: 0.25em;
  background-color: transparent;
  :hover{
    background-color: rgba(0,0,0,0.125);
    text-decoration: none !important;
  }
}
.post{
  padding-left: 10px;
}
.post-footer{
  text-align: right;
}