
// Body
$nav-bg:rgb(230, 235, 240);
$body-bg: rgb(230, 235, 240);

// Typography
$font-family-sans-serif: Arial,"Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//logo related
$logo-font-family : "Fresca";
$logo-nav-font-size : 2em;
$logo-big-font-size : 8em;
$logo-color: rgba(10,50,100,0.9);

//card related
$card-bg: transparent;
$card-border: 0px solid transparent;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
